<div xmlns:th="http://www.thymeleaf.org" th:fragment="table">
    <table class="table table-bordered">
        <center><h3>Your FavLinks</h3></center>
        <tr>
            <th>User name</th>
            <th>Link</th>
            <th>Describe</th>
        </tr>

        <tr th:each="link : ${links}">
            <td th:text="${link.getUsername()}"></td>
            <td th:text="${link.getLink()}"></td>
            <td th:text="${link.getDescribe()}"></td>
            <td>
                <form action="/links/delete/admin">
                    <input type="hidden" name="id" th:value="${link.getId()}">
                    <button class="btn btn-sm btn-danger" type="submit">delete</button>
                </form>
            </td>
            <td>
                <form action="/links/update/admin">
                    <input type="hidden" name="id" th:value="${link.getId()}">
                    <button class="btn btn-sm btn-primary" type="submit">update</button>
                </form>
            </td>
        </tr>
    </table>

</div>

